html,
body {
  height: 100%;
}
body {
  text-align: center;
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

@media (min-width: 768px) {
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .cover-container {
    width: 500px;
  }
}

/*
 * Viadeo icon
 */

@font-face {
  font-family: 'Viadeoicons';
  src: url('font/viadeoicons.eot');
  src: url('font/viadeoicons.eot?#iefix') format('embedded-opentype'), url('font/viadeoicons.woff') format('woff'), url('font/viadeoicons.ttf') format('truetype');
  font-style: normal;
  font-weight: normal;
}

.vicon {
  display: inline-block;
  font: normal normal normal 14px/1 Viadeoicons;
  font-size: inherit;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 0.6em;
}

.vicon-viadeo:before {
  content: "\006F";
}